
.info-inmueble {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .inmueble-detalles p {
  font-size: 18px; 
}

 
  .inmueble-layout {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  
 
  .inmueble-imagen-container {
    flex: 1;
    max-width: 50%;
  }
  
  .inmueble-imagen {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
 
  .inmueble-detalles {
    flex: 1;
    padding: 20px;
    text-decoration: none;
  }
  
  .inmueble-titulo {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  .inmueble-detalles p strong {
    font-weight: bold;
    color: #222;
    text-decoration: none;
  }
  
  
  .inmueble-precio {
    font-size: 20px;
    font-weight: bold;
    color: #27ae60;
  }
  